@import '~antd/dist/antd.css';

.logo {
  float: left;
  width: 90px;
  height: 31px;
  margin: 0px 24px 16px 0;
}
.site-layout .site-layout-background {
  margin-top: 32px;
  background: #fff;
}

.add-secret-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-layout {
  padding: 0 50px;
  margin-top: 64px;
}

.site-layout-background {
  padding: 24px;
  min-height: 380px;
}

.ant-layout-header {
  height: 64px;
  line-height: 64px;
}




@media (max-width: 2160px) {
  .add-secret-form {
    width: 40%;
  }
  .site-layout .site-layout-background {
    margin-top: 32px;
    background: #fff;
  }
  .site-layout {
    padding: 0 50px;
    margin-top: 64px;
  }

  .ant-layout-header {
    height: 64px;
    line-height: 64px;
  }
}
@media (max-width: 1450px) {
  .add-secret-form {
    width: 50%;
  }

  .site-layout {
    padding: 0 50px;
    margin-top: 64px;
  }
}
@media (max-width: 1080px) {
  .add-secret-form {
    width: 70%;
  }

  .site-layout {
    padding: 0 20px;
    margin-top: 64px;
  }
}
@media (max-width: 720px) {
  .add-secret-form {
    width: 90%;
  }
    
  .ant-layout-header {
    height: 50px;
    line-height: 50px;
  }
  .site-layout .site-layout-background {
    margin-top: 0px;
    background: #fff;
  }
}
@media (max-width: 500px) {
  .add-secret-form {
    width: 100%;
  }

}